.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1.5em;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform .25s ease-out;
}

.Card:hover {
  transform: scale(1.05);
}

.Card img {
  max-width: 200px;
  margin-bottom: 1em;
}

.Card h2 {
  margin: 0 0 .3em 0;
}

.Card p {
  margin: 0
}